.functionalities {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.functionalities-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
}

.functionalities-title p {
  width: 100%;
  font-size: 1.7em;
  opacity: 60%;

  margin: 0 0 40px 0;
}

.functionalities-items {
  display: flex;
  flex-direction: row;
  align-items:baseline;
  width: 100%;
  

  margin-bottom: 50px;
  
}

.functionality {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  width: 100%;
  height: 100%;

  margin: 10px;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1pt solid rgba(0, 0, 0, 0.1);
  border-radius: 23px;

}

.functionality img {
  border-radius: 20px;
  width: 90%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.functionality h3 {
  font-size: 190%;
  margin: 20px 0;
  width: 80%;
}

.functionality p {
  width: 90%;
  font-size: 130%;
  margin-bottom: 0;
  
  
}

@media (max-width: 1000px) {
  .functionalities-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .functionality {
    width: 80%;
    height: 100%;
  }

  .functionality p {
    margin-bottom: 30px;
  }
}


