.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
}

.hero-title span {
  color: #1B5DDD;
}

.hero-title p {
  width: 100%;
  font-size: 1.7em;
  opacity: 60%;

  margin: 0 0 40px 0;
}

.video-container {
  width: 100%;
  max-width: 1000px;
}

.hero-video {
  position: relative;
  width: 100%;
  
  margin: 0 auto; /* Centraliza o contêiner horizontalmente */
  padding-top: 56.25%; /* Proporção 16:9 (altura/largura = 9/16 * 100) */
}

.hero-video img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  
  border-radius: 20px;
  
}

.hero-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  
  border-radius: 20px;
}

.hero-btn {
  margin-top: 40px;

  width: 50%;
  max-width: 350px; 
  min-width: 300px;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.hero-btn button {
  width: 90%;
  height: 60px;

  border-radius: 30px;
  border: none;

  background-color: #1B5DDD;
  color: white;
  font-weight: 700;
  font-size: large;

  cursor: pointer;
  transition: 300ms;
}

.hero-btn button:hover {
  background-color: #14429e;
}

.hero-btn p {
  font-size: 18px;
  font-weight: 400;
  color: #666666;
  margin-top: 10px;
}

.hero-btn span {
  color: #1B5DDD;
}

/* celular */
@media (max-width: 770px) {
  .hero-title h1 {
    font-size: 2.5em;
  
  }

  .hero-title p {
    font-size: 1.2em;
  
  }
}

/* min celular */
@media (max-width: 500px) {
  .hero-title h1 {
    font-size: 2.5em;
  
  }
  .hero-title p {
    font-size: 1em;
  
  }
}